<h2>{{"Team Results" | translate}}</h2>

<table class="table table-bordered">
    <tr>
        <th>{{"Place" | translate}}</th>
        <th>{{"Name" | translate}}</th>
        <th ng-repeat="tourn in $ctrl.maxTourns">{{tourn.shortName | translate}}</th>
        <th>{{"Points" | translate}}</th>
    </tr>
    <tr ng-repeat="team in $ctrl.teams">
        <td>{{team.place}}</td>  
        <td>
            <a ng-href="{{'#!/country/' + team.country.id}}">
                <span class="ct" ng-class="'flag flag-' + $ctrl.mapCountryToCountryCode[team.country.name]"></span>
                {{team.name}}
            </a>
        </td>  
        <td ng-repeat="tourn2 in $ctrl.maxTourns">
            {{
                $ctrl.findT(team, tourn2.shortName) || "-"
            }}
        </td>  
        <td>{{team.points}}</td>  
    </tr>
</table>

<h2>{{"Details of points" | translate}}</h2>
<div ng-repeat="(i, team) in $ctrl.teams">
    <h3>
        {{(i+1) + '. '}} {{team.country.name}}
        <span class="ct" ng-class="'flag flag-' + $ctrl.mapCountryToCountryCode[team.country.name]"></span>                
    </h3>
    <div>
        <div ng-repeat="tourn in team.tournaments">
            <a ng-href="{{'#!/result?tournamentId=' + tourn.id}}">{{tourn.shortName}}</a> 
            :
            <span ng-repeat="(j, player) in tourn.players">
                {{j !== 0 ? ', ' : ''}}
                <a ng-href="{{'#!/players/' + player.header.id}}">
                    {{player.header.externalName}}
                </a>
                {{" (" + player.teamPoints + ") "}}
            </span>
        </div>
    </div>
</div>