<h2>{{"Team Results" | translate}}</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th  class="text-center">{{"Place" | translate}}</th>
            <th>{{"Name" | translate}}</th>
            <th  class="text-center">
                <strong>
                    {{"Points" | translate}}
                </strong>
            </th>
            <th ng-repeat="tourn in $ctrl.maxTourns"  class="text-center">{{tourn.shortName | translate}}</th>
        </tr>
        <tr ng-repeat="team in $ctrl.teams">
            <td class="text-nowrap text-center">{{team.place}}</td>  
            <td>
                <a ng-href="{{'#!/country/' + team.country.id}}">
                    <span class="ct" ng-class="'flag flag-' + $ctrl.mapCountryToCountryCode[team.country.name]"></span>
                    {{team.name}}
                </a>
            </td>  
            <td class="text-nowrap text-center">
                <strong>
                    {{team.points}}
                </strong>
            </td>  
            <td ng-repeat="tourn2 in $ctrl.maxTourns" class="text-nowrap text-center">
                {{
                    $ctrl.findT(team, tourn2.shortName) || "-"
                }}
            </td>  
        </tr>
    </table>
</div>

<h2>{{"Details of points" | translate}}</h2>
<div ng-repeat="(i, team) in $ctrl.teams">
    <h3>
        {{(i+1) + '. '}} {{team.country.name}}
        <span class="ct" ng-class="'flag flag-' + $ctrl.mapCountryToCountryCode[team.country.name]"></span>                
    </h3>
    <div>
        <div ng-repeat="tourn in team.tournaments">
            <a ng-href="{{'#!/result?tournamentId=' + tourn.id + '&groups=' + $ctrl.groupId}}">{{tourn.shortName}}</a> 
            :
            <span ng-repeat="(j, player) in tourn.players">
                {{j !== 0 ? ', ' : ''}}
                <a ng-href="{{'#!/players/' + player.header.id}}">
                    {{player.header.externalName}}
                </a>
                {{" (" + player.teamPoints + ") "}}
            </span>
        </div>
    </div>
</div>