<div ng-hide="$ctrl.isAuth">
  <form>
    <h2>Sign in</h2>
    <div class="form-group">
      <label for="login">Login: </label>
      <input type="login" class="form-control" id="login" ng-model="$ctrl.authForm.username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ng-model="$ctrl.authForm.password">
    </div>  
    <button type="button" class="btn btn-default" ng-click="$ctrl.onLogin($event)">Login</button>    
  </form>
</div>
<div ng-show="$ctrl.isAuth">
  <h2>Create Tournament Page</h2>
      {{$scope.selected_country}}
  <form ng-submit="$ctrl.onSubmit($event)">
    <div class="form-group">
      <label for="chess-arbiter">Chess Arbiter:</label>
      <input type="chess-arbiter" class="form-control" id="chess-arbiter" ng-model="$ctrl.data.externalUrl">
      <button type="button" ng-click="$ctrl.importClick()">import</button>
    </div>  
    <div class="form-group">
      <label for="tournament-name">Name: </label>
      <input type="tournament-name" class="form-control" id="tournament-name" ng-model="$ctrl.data.name">
    </div>
    <div class="form-group">
      <label for="short-tournament-name">Short Name:</label>
      <input type="short-tournament-name" class="form-control" id="short-tournament-name" ng-model="$ctrl.data.shortName">
    </div>
    <div class="form-group">
      <label for="start">Start:</label>
      <datepicker date-format="yyyy-MM-dd">
          <input type="text" class="form-control" id="start" ng-model="$ctrl.data.begin">
      </datepicker>
    </div>
    <div class="form-group">
      <label for="end">End:</label>
      <datepicker date-format="yyyy-MM-dd">
          <input type="text" class="form-control" id="end" ng-model="$ctrl.data.end">
      </datepicker>
    </div>
    <div class="form-group">
      <label for="orginizer">Orginizer:</label>
      <input type="orginizer" class="form-control" id="orginizer" ng-model="$ctrl.data.organizer">
    </div>
    <div class="form-group">
      <label for="sel1">Country:</label>
      <select class="form-control" id="sel1" ng-model="$ctrl.selected_country" ng-change="$ctrl.updateCities()">
        <option ng-repeat="country in $ctrl.countries">
          <span>{{country.name}}</span>
        </option>
      </select>
      <label for="sel2">City:</label>
      <select class="form-control" id="sel2" ng-model="$ctrl.selected_city">
        <option ng-repeat="city in $ctrl.cities[$ctrl.selected_country_id]">
          <span>{{city.name}}</span>
        </option>
      </select>
    </div>  
    <div class="form-group">
      <label for="round-amount">Round Amount:</label>
      <input type="round-amount" class="form-control" id="round-amount" ng-model="$ctrl.data.roundAmount">
    </div>  
    <div class="form-group">
      <label for="curr-round">Current Round:</label>
      <input type="curr-round" class="form-control" id="curr-round" ng-model="$ctrl.data.currentRound">
    </div>  
    <div class="form-group">
      <label for="arbiter">Arbiter:</label>
      <input type="arbiter" class="form-control" id="arbiter" ng-model="$ctrl.data.arbiter">
    </div>  
    <button type="submit" class="btn btn-default">Submit</button>    
  </form>  
</div>



