<div class="details-container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">{{$ctrl.Tournament_details | translate}}</button>
    <div id="demo" class="collapse">
        <div>
            <strong>{{$ctrl.Place | translate}}:</strong>
            {{$ctrl.tournamentData.city.name}}
        </div>
        <div>
            <strong>{{$ctrl.Players_number | translate}}:</strong>
            {{$ctrl.tournamentData.system}}
        </div>
        <div>
            <strong>{{$ctrl.Current_Round | translate}}:</strong>
            {{$ctrl.tournamentData.playedRounds + 1}}
        </div>
        <div>
            <strong>{{$ctrl.Arbiter | translate}}:</strong>
            {{$ctrl.tournamentData.arbiter}}
        </div>
        <div>
            <strong>{{$ctrl.Days | translate}}:</strong>
            {{$ctrl.tournamentData.begin + " - " + $ctrl.tournamentData.end}}
        </div>
    </div>
    <a type="button" class="btn btn-info" target="_blank"
    ng-href="{{$ctrl.chessArbiterUrl}}">{{"DraughtsArbiter" | translate}}</a>
</div>