<h2>{{$ctrl.tournamentName}}</h2>
<ul class="rounds-list nav nav-tabs">
    <li role="presentation" ng-repeat="round in $ctrl.rounds" ng-class="round.active && 'active'">
         <a href="#" ng-click="$ctrl.handleRoundClick($event, round.id)"> 
            {{"Round " + round.number}}
         </a> 
    </li>
</ul> 
<table class="table table-striped" ng-show="$ctrl.currGames.length > 0">
<thead>
    <tr>
    <th>White</th>
    <th>Result</th>
    <th>Black</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="game in $ctrl.currGames">
        <td>{{game.whitePlayer.sortNumber + ". " + game.whitePlayer.externalName}}</td>
        <td>{{$ctrl.mapResults[game.result]}}</td>
        <td>{{game.blackPlayer.sortNumber + ". " + game.blackPlayer.externalName}}</td>
    </tr>
</tbody>
</table>