<div class="panel panel-info" ng-hide="$ctrl.hideComponent"> 
    <div class="panel-heading schedule-panel-header"> 
        <h3 class="panel-title">
            {{'Schedule'| translate}}
            <span>
                <a class="schedule-arrow glyphicon"
                ng-class="'glyphicon glyphicon-chevron-left'"
                href="#"
                ng-click="$ctrl.prevDate($event)"></a>
                {{$ctrl.currEvent.date | date:'dd.MM.yyyy'}}
                <a href="#" class="glyphicon glyphicon-chevron-right"
                ng-click="$ctrl.nextDate($event)"></a>            
            </span>
            <span class="schedule-toolbar">
                <!-- <a class="schedule-arrow glyphicon"
                ng-class="{'glyphicon-arrow-down': $ctrl.arrowBtnMode == 'down','glyphicon-arrow-up': $ctrl.arrowBtnMode == 'up'}"
                href="#"
                ng-click="$ctrl.toggleArrowBtn($event)"></a> -->

                <!-- <a href="#" class="schedule-remove glyphicon glyphicon-remove"
                ng-click="$ctrl.hideComponentBtn($event)"></a>    -->
            </span>
        </h3> 
    </div> 
    <div class="panel-body" ng-hide="$ctrl.hideSchedule"> 
        <ul>
            <li ng-repeat="event in $ctrl.currEvent.events">
                <h4>
                    {{$ctrl.currEventNames[$index]}} 
                     <small>{{$ctrl.currEvent.events[$index].start | date:'HH:mm'}}</small> 
                </h4>
            </li>
        </ul>    
    </div> 
</div>