.container2 {
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.main, .nav {
    display: inline-block    
}

.container3 {
    width: 60%;
    min-width: 400px;
    display: inline-block;    
    margin: 0 2%;
}

.main {
    margin: 0 auto;
    padding: 10px 20px;    
    background: white;
    width: 100%;
    border-radius: 2px;
    padding-bottom: 100px;
}

.nav2 {
    width: 20%;  
    margin: 0;
    float: right;
    min-width: 400px;
}

body {
    background: #e7e7e7
}

.schedule-arrow, .schedule-remove {
    /*float: right;*/
}

.schedule-toolbar {
    float: right;
}

.details-container {
    
    margin: 20px 0;
}