.container2 {
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.main, .nav {
    display: inline-block    
}

.container3 {
    width: 60%;
    min-width: 400px;
    display: inline-block;    
    margin: 0 2%;
}

.main {
    margin: 10px auto;
    padding: 10px 20px;    
    background: white;
    width: 100%;
    border-radius: 2px;
    padding-bottom: 100px;
}

.nav2 {
    background: white;
    padding: 20px;
    width: 20%;  
    margin: 10px 0;
    float: right;
    min-width: 400px;
}

body {
    background: #e7e7e7
}

.schedule-arrow, .schedule-remove {
    /*float: right;*/
}

.schedule-toolbar {
    float: right;
}

.details-container {
    
    margin: 20px 0;
}

.regulations-list {
    padding: 10px;
}

.items {
    display:flex;
    justify-content: start;
    flex-wrap:wrap;
}

.item {
    margin: 5px 0;
}

#bs-example-navbar-collapse-1 .locale-btn {
    padding: 6px 6px 0 3px;
}

.partners {
    display:flex;
    justify-content: space-around; 
    flex-wrap:wrap;
    
}

.partners-vertical {
    justify-content: center;
    flex-direction: column; 
}

.info-partner-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap; 
    align-items: center;

}

.info-partner-container strong { 
    font-size: 11px; 

}

/* .team-info, .player-info {
    display: inline;
} */

.player-info {
     width: 500px;
}

.team-info-container, .player-info-container {
    display: inline-block;
    margin: 5px;
}

.team-info {
    width: 200px;
}

.schedule-panel-header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap; 
    /* align-items: center;     */
}

.rounds-list {
    font-size: 12px;
}

.disabled-main-item {
    opacity: 0.3;
    pointer-events:none;
}

.time-widget-container {
    float: right;
    margin: 15px;
}

.wide {
    width: 75%;
}
.narrow {
    width: 20%;
    min-width: 150px;
}

.white-box, .black-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

.white-box {
    background: white;
}
.black-box {
    background: darkslategrey;
}

.review-navig-area{
    background: lightgray;
    padding: 3px;
    border-radius: 3px;
}