<div class="panel panel-default">
    <div class="panel-body">
    <div class="partners" ng-class="$ctrl.vertical ? '<partners-vertical></partners-vertical>' : ''">
        <span class="info-partner-container">  
            <a href="https://radiostalica.by/index.php" target="_blank">
            <img src="./../../../static/logos/logo_radio.png" alt="">
            </a>
            <div>
                <strong>
                    {{"Informational_partner" | translate}}
                </strong>
            </div>
        </span>
        <a href="https://fmjd.org/" target="_blank" class="info-partner-container">
        <img src="./../../../static/logos/fmjdlogo.png" alt="">
        </a>
        <a href="http://europedraughts.org/" target="_blank" class="info-partner-container">
        <img src="./../../../static/logos/logo_europedraughts.png" alt="">
        </a>
        
    </div>
   
    </div>
</div>