<div class="panel panel-default">
    <div class="panel-body">
    <div class="partners">
        <a href="https://radiostalica.by/index.php" target="_blank">
        <img src="./../../../static/logos/logo_radio.png" alt="">
        </a>
        <a href="https://fmjd.org/" target="_blank">
        <img src="./../../../static/logos/fmjdlogo.png" alt="">
        </a>
        <a href="http://europedraughts.org/" target="_blank">
        <img src="./../../../static/logos/logo_europedraughts.png" alt="">
        </a>
        
    </div>
   
    </div>
</div>